@model OnData.PruebaTecnicaHDCBA.Models.containers_categories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>containers_categories</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.containers_categories_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
